.itemContainer {
  border-radius: 15px 30px 15px 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-top: 10px;
  border-top: 5px solid rgb(32, 31, 31);
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  background-color: #f5dfb6;
}

.imgContainer {
  grid-column: 1 ;
  grid-row: 1 / 3;
  text-align: center;
}

.itemImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 125%;
  object-fit: contain;
  background-color: #000;
  transform: translate(-40%, -10%);
}

.itemImage:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transform: scale(2);
}

.itemImage:checked {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transform: scale(2);
}

.itemTitle {
  grid-column: 2 / 5 ;
  font-family: "BrandonSmith";
  font-weight: 600;
  font-size: 1.2rem;
  flex: 2;
  overflow: hidden;
  margin-bottom: 0%;
}

.itemDescription {
  grid-column: 2 / 5;
  grid-row: 2;
  font-family: "SacramentoRegular";
  font-weight: 300;
  font-size: 1.2rem;
  overflow: hidden;
  margin-right: 0px;
}

@keyframes appear-cool-animation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.appear-cool {
  opacity: 0;
  animation-duration: 1s;
  animation-name: appear-cool-animation;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  visibility: hidden;
}

@media (orientation: portrait) and (max-width: 400px) {
  .itemContainer {
    border: 0;
    flex-direction: column;
    display: flex;
    border-top: 2px solid rgb(32, 31, 31);
    border-radius: 7px;
    padding: 0;
  }

  .itemImage {
    width: 80%;
    transform: translate(0%, 0%);
  }

  .itemImage:hover {
    transform: scale(1);
  }

  .imgContainer {
    flex-grow: 2;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .itemDescription {
    flex-grow: 1;
    padding: 0;
    font-size: 1rem;
  }
  .itemTitle {
    margin-top: 0;
  }
  .items {
    margin-left: 15px;
  }
  .item {
    margin-top: 10px;
    max-width: 98%;
  }
}

@media (orientation: landscape) and (max-width: 850px) {
  .itemDescription {
      padding: 0;
  }
}
