.item-menu {
    color: #fff;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-direction: row;
}

.item-menu:hover {
    color: #ec7505;
    cursor: pointer;
}

@media (orientation: portrait) and (max-width: 400px) {
    .item-menu {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .option-icon {
        font-size: 1.5rem;
        padding-bottom: 5px;
    }
}