.menu-lateral-container {
    background-color: #333232;
    height: 100%;
    position: sticky;
    position: -webkit-sticky;
    border-radius: 10px;
    border: 3px solid #000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 5px;
    position: fixed;
    width: 15vw;
    z-index: 20;
}

.menu-lateral-container li {
    color: #fff;
    cursor: pointer;
    list-style: none;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-direction: row;
}

.option {
    color: #fff;
    list-style: none;
    padding: 3vw 1vw 3vw 1 vw;
    display: flex;
    flex-direction: row;
}


.search-input {
    width: 100%;
}

.menu-lateral-container h1 {
    margin-top: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'BrandonSmith';
    overflow: hidden;
}

.menu-lateral-container h2 {
    overflow: hidden;
    background-color: #8c271e;
    color: #ec7505;
    padding: 3px;
    text-align: center;
    margin-top: 0;
    font-family: 'ShortBaby';
}


.option-title {
    padding-left: 10px;
    font-family: 'ShortBaby';
}

@media (orientation: portrait) and (max-width: 400px) {
    .menu-lateral-container {
        padding-top: 15px;
        display: flex;
        bottom: 0;
        flex-direction: row;
        max-height: 5vh;
        flex-wrap: nowrap;
        width: 100%;
        border: 0;
        border-radius: 0;
        align-items: center;
    }

    .menu-title {
        display: none;
    }

    .option-search {
        display: none;
    }
}

@media (orientation: landscape) and (max-width: 850px) {
    .menu-lateral-container h1, .menu-lateral-container h2 {
        display: none;
    }
}





