.welcome {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8c271e;
  border-radius: 100px;
  border: 5px dotted #000;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.store-logo-cont {
  display: flex;
  justify-content: center;
}

.store-logo {
  max-width: 60vw;
  max-height: 20vh;
}

.store-name {
  font-size: 6vh;
  font-weight: 600;
  font-family: "BrandonSmith";
  text-align: center;
  text-decoration: underline;
}

.store-phrase {
  font-size: 3vh;
  font-weight: 600;
  font-family: "BrandonSmith";
  text-align: center;
}

.welcome-button {
  margin-top: 3vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ec7505;
  border-radius: 15px;
  border: 5px solid #000;
  font-size: 4vh;
  font-weight: 600;
  font-family: "BrandonSmith";
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.welcome-button:hover {
  transform: translateY(-0.5vh);
}

.welcome-button:focus {
  transform: translateY(0.5vh);
}

@keyframes appearfromtop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appearfromtop-animation {
  animation-duration: 750ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: appearfromtop;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.disappear-animation {
  animation-duration: 750ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: disappear;
}

@keyframes reduce-torightbot {
  0% {
    bottom: 50%;
    right:  50%;
  }
  100% {
    max-width: 10vw;
    max-height: 10vh;
    visibility: visible;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    transform: translate(0%, 0%);
  }
}

.reduce-torightbot-animation {
  visibility: visible;
  animation-duration: 1750ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-name: reduce-torightbot;
}

.background-logo {
  position: fixed;
  bottom: 50%;
  right:  50%;
  transform: translate(50%, -25%);
  visibility: hidden;
  z-index: 20;
}
