.items-first-col {
  margin-left: 20vw;
}

.items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 3vw;
}

.row {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.item {
  margin-top: 20px;
  width: 90%;
}

@media (orientation: portrait) and (max-width: 400px) {

  .items-first-col {
    margin-left: 0;
  }

  .items {
    padding-left: 0;
  }

  .item {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }
}
