body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5dfb6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BrandonSmith';
  src: local('BrandonSmith'), url(./assets/fonts/brandonSmith.otf) format('opentype');
}

@font-face {
  font-family: 'ShortBaby';
  src: local('Short-Babt.ttf'), url(./assets/fonts/Short-Baby.ttf) format('truetype');
}

@font-face {
  font-family: 'Champignon';
  src: local('Champignon.otf'), url(./assets/fonts/Champignon.otf) format('opentype');
}
@font-face {
  font-family: 'FreeBsc';
  src: local('FREEBSC_.ttf'), url(./assets/fonts/FREEBSC_.ttf) format('truetype');
}
@font-face {
  font-family: 'GreatVibes';
  src: local('GreatVibes-Regular.ttf'), url(./assets/fonts/GreatVibes-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'ItalianoRegular';
  src: local('ItalianoRegular.ttf'), url(./assets/fonts/Italianno-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'RoughBrush';
  src: local('Rough\ Brush\ Script.ttf'), url(./assets/fonts/Rough\ Brush\ Script.TTF) format('truetype');
}
@font-face {
  font-family: 'ParisienneRegular';
  src: local('ParisienneRegular.ttf'), url(./assets/fonts/Parisienne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'SacramentoRegular';
  src: local('SacramentoRegular.ttf'), url(./assets/fonts/Sacramento-Regular.ttf) format('truetype');
}

@media (orientation: portrait) and (max-width: 400px) {
  body::before {
    width: 0;
  }

  body {
    margin-bottom: 5vh;
  }

}